.overlay {
    background-image: linear-gradient(
        rgba(43, 17, 3, 0.358),
        rgba(0, 0, 0, 0.8)
    ),
    url('https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.contenu {
    height: 50%;
    width: 50%;
    background: #c9e3eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenu p {
    margin: 20px;
    text-align: center;
  
}

