.overlay-pp {
    background-image: linear-gradient(
        rgba(43, 17, 3, 0.358),
        rgba(0, 0, 0, 0.8)
        
    ),
    url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.project-block-pp{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:800px;
    height: 800px;
    align-items: center;
    background-color:rgb(252, 240, 240);
    border-radius: 10px;
    
}


.blockImage-pp img {
    width: 600px;
    height: 400px;
    border-radius: 10px;

}

.blockText-pp {
    text-align: center;
    font-size: 1.1em;
   
}

.project-client, .project-technology,.project-description{
    margin-top:20px;
}



.link-to{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}

.project-linkto{
    text-decoration: none;
    color:black;
    font-size: 1.5em;
}

.intitule{
    font-weight: bold;
    margin-bottom: 5px;
}

@media screen and (max-width: 480px){

    .project-block-pp{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:300px;
        height:600px;
    }

    
    .blockImage-pp img {
        width: 200px;
        height: 150px;

    }

    .blockText-pp {
        text-align: center;
    }

    .link-to{
        margin-top: 30px;
        display:flex;
        flex-direction: column;
    }

    
    }

   
